name: Build and deploy React app to Azure Web App - reactpapalotes1

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies and Build
        run: |
          npm install       # Instala TODAS las dependencias (incluyendo dev)
          npm run build     # Construye tu app y crea la carpeta 'dist'
      
      - name: Prune development dependencies
        run: |
          rm -rf node_modules       # Borra los node_modules
          # Instala SOLAMENTE las dependencias de producción
          npm install --production  

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: react-app-prod
          # Sube TODO lo necesario:
          # 1. El 'dist' (tu app)
          # 2. El 'package.json' (con el script "start")
          # 3. El 'node_modules' (con "serve")
          path: |
            dist
            node_modules 
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: react-app-prod # Descarga el artefacto de producción

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'reactpapalotes1'
          slot-name: 'Production'
          # CORREGIDO: Despliega el paquete completo, no solo 'dist'
          package: '.' 
          # Esto borrará los archivos viejos (como el package.json fantasma)
          clean: true 
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_9A5888BB8EF44059BC32399BC1A887FC }}